:root {
  --text-color: #DB5E2FFF;
  --border-color: #DB5E2FFF;
}

body {
  background-color: black;
}
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.card {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.card.fade-out {
  opacity: 0;
}

.card-title {
  color: #DB5E2FFF;
  font-family: Impact;
}

.card-text {
  color: #DB5E2FFF;
}

.hover-scale {
  transition: transform 0.2s ease-in-out;
}

.hover-scale:hover {
  transform: scale(1.05);
}

.btn-color {
  color: var(--text-color);
  border-color: var(--border-color);
  font-weight: 500;
  font-family: Impact;
}

.btn-color:hover{
  background-color: #DB5E2FFF;
}

.label-text {
  color: #DB5E2FFF;
  font-family: Impact;
}
